body {
	font-family: 'Rubik';
}

.navbar {
	background-color: #f25cae;
}

.navbar-brand {
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

#showcase-btn {
	background-color: #f25cae;
	font-weight: bold;
}

#showcase-img {
	max-height: 75vh;
	max-width: 75vw;
}

#social-proof {
	background-color: #f25cae;
}

#features-header {
	color: #f25cae;
	font-weight: bold;
}

code {
	background-color: #f25cae42;
}

.carousel-indicators [data-bs-target] {
	background-color: #f25cae;
}

.carousel-indicators {
	bottom: -30px;
}

.btn-outline-light {
	font-weight: bold;
	border-color: #f25cae;
	color: #f25cae;
}

.btn-outline-light:hover {
	background-color: #f25cae;
	color: white;
}

#faq {
	background-color: #f25cae;
}

#faq-header {
	font-weight: bold;
	color: white;
}

.card-title {
	color: #f25cae;
}

#footer-img {
	height: 50px;
	width: 50px;
}

#footer-header {
	color: #f25cae;
	font-weight: bold;
}

#footer-content {
	color: #f25cae;
}

.bi {
	color: #f25cae;
}
