body {
	font-family: 'Rubik';
}

.navbar {
	background-color: #f25cae;
}

.navbar-brand {
	font-weight: bold;
}

#showcase-btn {
	background-color: #f25cae;
	font-weight: bold;
}

#showcase-img {
	height: 40%;
	width: 40%;
}

#social-proof {
	background-color: #f25cae;
}

#features-header {
	color: #f25cae;
	font-weight: bold;
}

code {
	background-color: #f25cae42;
}

.indicators {
	background-color: #f25cae;
	color: #f25cae;
	border-color: #f25cae;
}

.btn-outline-light {
	font-weight: bold;
	border-color: #f25cae;
	color: #f25cae;
}

.btn-outline-light:hover {
	background-color: #f25cae;
	color: white;
}

#faq {
	background-color: #f25cae;
}

#faq-header {
	font-weight: bold;
}

.accordion-header button {
	color: #f25cae;
}

.accordion-body {
	color: #f25cae;
}

.accordion-button:not(.collapsed) {
	color: #f25cae;
	background-color: #f25cae42;
}

#footer-img {
	height: 70px;
	width: 70px;
}

#footer-header {
	color: #f25cae;
	font-weight: bold;
}

#footer-content {
	color: #f25cae;
}

.bi {
	color: #f25cae;
}
