body {
	font-family: 'Rubik';
}

.navbar {
	background-color: #f25cae;
}

.navbar-brand {
	font-weight: bold;
}

.header {
	color: #f25cae;
}

#privacy {
	background-color: #f25cae15;
	border-radius: 12px;
}

footer {
	background-color: #f25cae;
}

#footer-img {
	height: 50px;
	width: 50px;
}

#footer-header {
	color: white;
	font-weight: bold;
}

#footer-content {
	color: white;
}

.bi {
	color: white;
}
